<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(ULK_API_URL)</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Sipariş takibi için konum izni vermelisin.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Sipariş takibi için konum izni vermelisin.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Sipariş takibi için konum izni vermelisin.</string>
	<key>NSCameraUsageDescription</key>
	<string>Sipariş kodlarını okumak için kamera izni vermelisin.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-SemiBold</string>
		<string>Poppins-Bold</string>
		<string>Poppins-Light</string>
		<string>Poppins-Medium</string>
		<string>Poppins-Regular</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
</dict>
</plist>
